/* MAIN INDEX */

@import 'base/colors';
@import 'base/fonts';
@import 'base/mixin';

.index-body {
    background-image: url('../Images/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mainIndex {
    width: 100%;

    @media (min-width: 481px) {
        margin-top: 250px;
    }
    
    section {
        margin: 150px 0;
    
        h1 {

            @media (min-width: 481px) {
                color: $color-principal-text;
                font-size: 80px;
                font-family: $principal-font;
                padding-top: 0px;
                margin-top: 0px;
                text-align: center;
            }

            @media (max-width: 480px) {
                color: $color-principal-text;
                font-size: 40px;
                font-family: $principal-font;
                padding-top: 0px;
                margin-top: 0px;
                text-align: center;
            }
            
        }

        p {
            @media (min-width: 481px) {
                color: $color-principal-text;
                font-size: 45px;
                font-family: $principal-font;
                padding: 0;
                margin: 0;
                text-align: center;
            }

            @media (max-width: 480px) {
                color: $color-principal-text;
                font-size: 30px;
                font-family: $principal-font;
                padding: 0;
                margin: 0;
                text-align: center;
            }
            
        }

        .carouselDiv {
            background-color: nth($bg-colors, 2);
            border-radius: 80px;
        }

        .tituloFoto {
            color: white;
            font-size: 40px;
            font-family: $principal-font;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        .comentarioFoto {
            color: white;
            font-size: 20px;
            font-family: $secondary-font;
            padding: 0;
            margin: 0;
            text-align: center;
        }
    }
}

/* FIN MAIN INDEX */