/* MAIN CERVECERIA */

@import 'base/colors';
@import 'base/fonts';
@import 'base/mixin';

.mainCerveceria {
    width: 100%;
    margin-top: 200px;

    @media (max-width: 480px) {
        margin: 0 auto;              
    } 

    section {
        width: 100%;
        margin: 50px 0;

        @media (max-width: 480px) {
            margin: auto 0;              
        } 

        div {
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;

            @media (max-width: 480px) {
                display: block;               
            }
            
            div {
                width: 40%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                margin: 0 auto;

                @media (max-width: 480px) {
                    width: 90%;              
                }
                

                h2 {
                    text-decoration: none;
                    font-family: $principal-font;
                    color: $color-principal-text;
                    font-size: 60px;

                    @media (max-width: 480px) {
                        font-size: 40px;
                        margin-top: 25px;             
                    }
                }

                p {
                    text-decoration: none;
                    font-family: $secondary-font;
                    color: $color-secondary-text;
                    font-size: 20px;

                    @media (max-width: 480px) {
                        font-size: 18px;
                                     
                    }
                }

                img {
                    min-width: 300px;

                    @media (max-width: 480px) {
                        width: 70%;             
                    }
                }
            }
        }
    }
}

/* FIN MAIN CERVECERIA */