* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(../Images/fondo-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Import */
@import 'header';
@import 'footer';
@import 'main-index';
@import 'main-cerveceria';
@import 'main-cervezas';
@import 'main-experiencias';
@import 'main-visitanos';
@import 'main-generales';
@import 'main-trabaja';

