/* Colors */

$bg-color-footer-1: goldenrod;
$bg-color-footer-2: rgb(146, 110, 20);
$bg-color-header: black;
$bg-color-whatsapp: #25d366;
$text-color-footer: black;
$text-color-footer-hover: black;
$text-color-whatsapp: white;
$text-color-principal: white;
$text-color-secondary: goldenrod;